.ipynb_checkpoints
.vscode
composition.txt
*/
*.sh
*.csv
*.png
*.prm
*.jpg
*.JPG
*.pdf
*.vtu
*.vtm
!ri_base*
!run_base*

!lab_notebooks_archived/
!plotting_scripts/

!tchron/
!tchron/tests/

!sample_data/vtk_tchron_test.vtm
!sample_data/vtk_tchron_test/*.vtu
