.ipynb_checkpoints
.vscode
composition.txt
*.pyc
*.sh
*.csv
*.png
*.prm
*.jpg
*.JPG
*.pdf
*.vtu
*.vtm
*.mp4
*.npy
!ri_base*
!run_*

!lab_notebooks_archived/
!plotting_scripts/
!plotting_scripts/figures/
!prms_rheology/
!manuscript_structuralstyle/model_files/**
!manuscript_structuralstyle/supplemental_models/**

!tchron/
!tchron/tests/

!sample_data/vtk_tchron_test.vtm
!sample_data/vtk_tchron_test/*.vtu

